body {
    padding: 20px;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease; /* Add a smooth transition for background color change */
    color: #343a40; /* Default text color for light mode */
}

body.bg-dark {
    background-color: #343a40;
    color: #fff; /* Text color for dark mode */
}

body.bg-dark .card-body {
    background-color: #343a40;
    color: #fff;
}

body.bg-dark .nav-link {
    color: #fff;
  }
  
  body.bg-dark .navbar-brand {
    color: #fff;
  }
  
  body.bg-dark .navbar-nav .nav-link.active {
    color: #fff;
    font-weight: bold;
  }
  
  body.bg-dark .nav-link:hover {
    color: gray;
  }
  
  body.bg-light .tracker-header {
    color: #212529;
  }
  
  body.bg-light .tracker-form {
    background-color: #fff;
    color: #212529;
  }
  
  body.bg-light .leaderboard-header {
    color: #212529;
  }
  body.bg-light .navbar-nav .nav-link.active {
    color: #212529;
  
    font-weight: bold;
  }
  
  body.bg-light .nav-link{
    color: #000000;
  }
  
  body.bg-light .nav-link:hover{
    color: gray;
  }
  